label#date_range_1

    .title Date Range (type, start, end):

    input.range_name(value='Default Range Type', title='date range type', readonly='readonly')
    button.select_from_date ...

    br

    input.from_date(value='1/1/2099')
    button.select_from_date ...

    br

    input.to_date(value='1/1/2099')
    button.select_from_date ...

script(src='cleverclever.js')
script(src='date_range_picker.js')

script(src='main.js')