
.dialog

  margin-top 3em
  transform translateX(-15em)
  width 24embody

  background #EFE8E0
  font-family "Helvetica Neue", "Helvetica", "Trebuchet MS", sans-serif
  font-size 100%
  padding 1em 2em

  button

    border 1px solid #8F8880
    margin -1px -1px 0 0
    background #BFB8B0
    color #3F3830
    padding .75em
    font-size 1em
    box-shadow inset 0px 0px 10px rgba(0, 0, 0, 0.9) 3px 3px 3px rgba(0, 0, 0, 0.2)

    :focus, :active
      outline none

    :hover
      box-shadow 4px 4px 4px rgba(0, 0, 0, 0.15)



  .choiceList button

    width 6em
    height 6em
    white-space pre-wrap

  input

    border 1px solid #8F8880
    box-shadow -1px -1px 1px rgba(0, 0, 0, 0.8)
    margin 1em -1px 0 0
    background #FED
    color #3F3830
    padding .75em
    min-width 18em
    min-height 3em
    font-size 1em

  :focus

    box-shadow -1px -1px 1px rgba(0, 0, 0, 0.8)
    background #FFFEFD


